body {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

.container_full {
    width: 100%;
}

.container {
    width: 90%;
    margin: 0 5%;
}

.header_bg {
    background-color: #000000;
    background-image: linear-gradient(to left, rgba(23, 22, 22, 0.5), rgba(0, 0, 0, 0.9)), url(img/me3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    display: flex;
    justify-content: space-between;

}

.height {
    height: 100px;
}

.brand {
    cursor: pointer;
    color: white;
}

span {
    color: #d30426;
}

.menu {
    width: 50%;

}

.menu ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 30px 0px;

}

.menu ul li a {
    text-decoration: none;
    color: white;
    transition: 0.5s all ease;
    padding: 5px 10px;
    font-weight: bold;
}

.menu ul li a:hover {
    color: #d30426
}

.button:hover a {
    border: 2px solid #d30426;
    background: none;
}

.button a {
    color: white;
    text-decoration: none;
    display: inline-block;
    background-color: #d30426;
    margin: 20px 0px;
    border: 2px solid #d30426;
    padding: 8px 27px;
    border-radius: 25px;
    transition: 0.5s all ease;
}

.center_text {
    color: white;
    height: 500px;
    margin-top: 50px;

}



.center_text h1 {
    font-size: 50px;

}

h4 {
    color: #d88996
}

.btn:hover {
    background: none;
}

.btn {

    color: white;
    text-decoration: none;
    display: inline-block;
    background-color: #d30426;
    margin: 20px 0px;
    border: 2px solid #d30426;
    padding: 8px 27px;
    border-radius: 25px;
    transition: 0.5s all ease;

}

.left {
    width: 50%;
    margin-right: 2%;
}

.left img {
    display: block;
    width: 100%;
}

.right {
    width: 50%;
    color: white;
}

.right h1 {
    font-size: 60px;
}

p {
    text-align: justify;
}

#skills {
    background-color: #000000;
}

.about_bg {}

.skill {
    width: 30%;
    margin-right: 5%;
    background-color: #1d1b1b;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    transition: 0.5s all ease;

}

.skill:hover {
    box-shadow: 3px 3px 25px gray;
}

.skill:last-child {
    margin-right: 0;
}

article {
    padding-bottom: 30px;
}

#skills h3 {
    font-size: 60px;
    color: white;
    text-align: center;
}

.skill h1 {
    color: white;
}

#skills {
    padding: 50px 0px;
}

.skill a {
    color: white;
}

.skill a i {
    font-size: 50px;
    color: #d30426;
    margin-top: 10px;
}

.skill p {
    color: #d88996;
}

.text {
    color: white;
    text-align: center;

    padding: 60px 0px;
}

.hire_bg {
    background-color: #1d1b1b;
}

.footer_text {
    color: white;
    text-align: center;
    padding: 50px 0px;
    width: 60%;
    margin: 0 20%;
}

.footer_text p {
    text-align: center;
    color: #d88996;
}

.footer_text a {
    color: white;
    height: 50px;
    width: 50px;
    background-color: #d30426;
    margin-right: 5px;
    border: 2px solid #d30426;
    border-radius: 50px;
    display: inline-block;
    text-align: center;
    transition: 0.5s all ease;
    margin-bottom: 20px;
}

.footer_text a:hover {
    background: none;
}

.footer_text a i {
    font-size: 20px;
    margin-top: 15px
}